body{
	margin: 0 auto;
   	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
}
/*Menu*/
.link {
  font-size: 20px;
  padding: 21px;
  color: white;
  margin-top: 20px;
  text-decoration: none;

}
.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
.menu.flex-container{
	justify-content: flex-start;
}
.logo-container{
	margin-left: 100px;
	margin-right: 600px;
}
#logo-nav{
	margin-top: 30px;
	width: 65px;
	height: 45px;
}
#btn-nav{
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
    border: 2px solid white;
    text-align: center;
    font-size: 20px;
    align-items: center;
    text-decoration: none;
    color: white;	
}
a:hover {
	background-color: #FF00BF;
}

/*video portada*/
.video-container {
  position: relative;
}
video {
  height: auto;
  width: 100%;
}
.overlay-desc {
  position: absolute;
  display: flex;
}

.box{/*tamaño de caja*/
	width: 550px;
	height: 450px;
	display:  block;
	flex-direction: column;
	margin-top: 100px; 
	line-height: 30px;
	background-color: whitesmoke;
	color: #352384;
	position: absolute;
	top: 0px;
	right: 0;
}
.box h1{
	margin-top: 70px;
	text-align: left;
	font-size: 60px;
	margin-left: 50px;
	line-height: 50px;
}
.box h3{
	margin-top: -50px;
	margin-left: 50px;
}

/* caja de texto, input*/
.name {
	display: center;
	border: none;
	width: 450px;
	height: 30px;
	margin-left: 50px;
    background-color: whitesmoke; 
    border-bottom: 2px solid #76278f;
}
::-webkit-input-placeholder { 
  color: #CFD1D0;
  font-size: 20px;
}
/*boton seccion caja*/
.btn1{
	margin-left: 50px;
	margin-top: 30px;
}
.btn1{
  background: #FF00BF;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  padding: 16px 25px 16px 25px;
  text-decoration: none;
  border-style: none;
}
/*paso con el cursor*/
.btn1:hover {
  background: #76278f;
  text-decoration: none;
}
.text{
	margin-left: 50px;
	font-size: 10px;
	text-align: justify;
}
.box a{
	color: gray;
	text-decoration: underline;
}
.box a:hover{
	border-radius: 8px;
	background-color: pink;
}

/*beneficios*/
#services{
	display: flex;
	justify-content: flex-end;
	margin-left: 100px;
	margin-top: 100px;
}

#phone.flex-container{
	width: 1px;
}

